* {
  margin: 0;
}
body {
  font-family: 'Hanken Grotesk', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 594px;
  height: 726px;
  margin: 50px 0px;
  padding-top: 73px;
  padding-right: 57px;
  padding-bottom: 73px;
  padding-left: 57px;
  gap: 36px;
  background-color: #282726;
}

main > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 352px;
  height: 144px;
  gap: 20px;
}
main > header > .heading {
  text-align: center;
  width: 352px;
  height: 66px;
  gap: 4px;
}
main > header > .heading > h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 26.06px;
  letter-spacing: 0%;
  text-align: center;
  color: #f9f4da;
}
main > header > .heading > span {
  font-weight: 500;
  font-size: 14px;
  line-height: 18.24px;
  letter-spacing: 0%;
  text-align: center;
  color: #8e8e8e;
}
main > header > .message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 352px;
  height: 58px;
  padding-top: 6px;
  padding-bottom: 6px;
  gap: 6px;
  border-radius: 4px;
  background-color: #a91010;
}
main > header > .message > span {
  color: #000000;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 20.85px;
  letter-spacing: 0%;
  text-align: center;
}

main > .languages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 4px;
  width: 253.5px;
  height: 51.5px;
  margin-bottom: 36px;
}
main > .languages > button {
  font-family: 'Hanken Grotesk';
  border: none;
  width: auto;
  height: 25px;
  gap: 4.5px;
  border-radius: 3px;
  padding: 4.5px;
}
main > .languages > button > span {
  width: 32px;
  height: 16px;
}

.letters {
  display: flex;
  gap: 5px;
}

.eachLetter {
  width: 40px;
  height: 40px;
  gap: 6px;
  padding: 6px;
  border-bottom-width: 1px;
  border-bottom: 2px solid #6f8379;
  color: #f9f4da;
}

.board {
  width: 480px;
  height: 164px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-items: center;
}

.board > button {
  font-family: 'Hanken Grotesk', sans-serif;
  border: 1px solid #d7d7d7;
  width: 40px;
  height: 40px;
  gap: 6px;
  border-radius: 4px;
  border-width: 1px;
  padding: 6px;
}
.board > button > span {
  font-weight: 600;
  font-size: 16px;
  line-height: 20.85px;
  letter-spacing: 0%;
  text-align: center;
}
.newGame {
  width: 228px;
  height: 40px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  gap: 6px;
  border-radius: 4px;
  border-width: 1px;
  background: #11b5e5;
  border: 1px solid #d7d7d7;
}
.newGame > span {
  width: 204px;
  height: 21px;
  font-family: 'Hanken Grotesk';
  font-weight: 600;
  font-size: 16px;
  line-height: 20.85px;
  letter-spacing: 0%;
  text-align: center;
}
